<ion-view view-title="Elementos CSS">
  <div class="bar bar-subheader">
    <h2 class="title">Sub Header</h2>
  </div>
  <ion-content class="padding">

    <br><br>

    <ion-list>
      <ion-item class="item-divider">Botones</ion-item>
      <ion-item class="button button-assertive">
        button
      </ion-item>
      <ion-item class="button button-outline button-assertive">
        Outlined Button
      </ion-item>
      <ion-item class="button icon-left ion-home">
        home
      </ion-item>
      <div class="button-bar">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
      </div>
      <ion-item></ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">Listas</ion-item>
      <ion-item href="#">Item</ion-item>
      <ion-item  class="item-button-right">
        Llamar
        <button class="button button-balanced">
          <i class="icon ion-ios-telephone"></i>
        </button>
      </ion-item>
      <a class="item item-avatar" href="#">
      <img src="/img/pink.jpg">
      <h2>Hola</h2>
      <p>Digeek.</p>
      </a>
      <ion-item class="item-divider">Tarjetas</ion-item>
      <div class="list card">

        <div class="item item-avatar">
          <img src="/img/mike.png">
          <h2>Mike</h2>
          <p>November 05, 1955</p>
        </div>

        <div class="item item-body">
          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>
      </div>
      <ion-item class="item-divider">Entradas / Inputs</ion-item>
      <ion-item class=" item-input">
          <input type="tel" placeholder="Telefono">
        </ion-item>
      </ion-list>

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
        <label class="item item-input">
          <i class="icon ion-ionic "></i>
          <input type="text" placeholder="Ionic">
        </label>
      </div>

<ion-list>
  <ion-item class="item-divider">Checkbox</ion-item>
  <label class="toggle toggle-assertive">
     <input type="checkbox">
     <div class="track">
       <div class="handle"></div>
     </div>
  </label>
  <ion-checkbox>Red</ion-checkbox>
  <ion-checkbox class="checkbox-calm">Yellow</ion-checkbox>
  <ion-checkbox class="checkbox-assertive">Pink</ion-checkbox>
 <ion-item class="item-divider">Etc...</ion-item>
 <ion-item href="http://ionicframework.com/docs/components/">
   http://ionicframework.com/docs/components/</ion-item>
</ion-list>

  </ion-content>
  <div class="bar bar-footer">
    <h1 class="title">Footer</h1>
  </div>
</ion-view>
